Bglcom/bgl_dat_xdr.h
Bglcom/bgl_dat_xdr.c
tierra/mesg.h
tierra/tiexdrcom.h
tierra/genebank_xdr.c
tierra/genebank.h
tierra/tiexdrcom_xdr.c
.~lock*
*.o
*.d
tierra/Makefile
tierra/arg
tierra/config.log
tierra/config.status
tierra/diffscan
tierra/genalign
tierra/probe
tierra/reseq
tierra/soupupdtrc
tierra/tbglpasswd
tierra/threadtree
tierra/tierra
